body {
  margin: 0;
  padding: 0;
  background-color: rgb(245, 243, 243);
  overflow: auto;
}
body::-webkit-scrollbar {
  width: 5px;
  background-color: rgb(220, 220, 220);
}
body::-webkit-scrollbar-thumb {
  background-color: rgb(249, 115, 22);
}
* {
  list-style: none;
  text-decoration: none;
  outline: none;
  border: none;
}
