@import "src/styles/variables.css";
.swiper-slide {
  width: max-content;
}
.slider-place {
  margin: 50px 0 80px 0;
  .swiper-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 50px;

    .title {
      font-size: 1.7rem;
      position: relative;
      &::after {
        content: "";
        width: 100px;
        height: 5px;
        border-radius: 5px;
        background-color: rgb(251, 146, 60);
        position: absolute;
        left: 0;
        bottom: -10px;
      }
    }
    .buttons {
      & button.slide-button {
        padding: 0px 3px 4px 3px;
        border-radius: 10px;
        margin: 0 5px;
        font-size: 1.5rem;
        color: white;
        background-color: rgb(251, 146, 60);
        cursor: pointer;
        &:hover {
          background-color: var(--button-colors);
        }
        & * {
          vertical-align: middle;
        }
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .slider-place {
    .swiper-header {
      .title {
        font-size: 1.4rem;
      }
    }
  }
}
