@import "src/styles/variables.css";

nav.nav-bar {
  width: 100%;
  position: sticky;
  right: 0;
  top: 0;
  padding: 15px 0;
  background-color: rgba(249, 248, 248, 0.9);

  & .in-nav-bar {
    width: var(--basic-width);
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .navbar-responsive-icon {
      padding: 2px;
      display: none;
      flex-direction: column;
      align-items: center;
      justify-content: space-between;
      gap: 5px;
      cursor: pointer;

      & div {
        width: 25px;
        height: 3px;
        background-color: var(--dark-black);
        border-radius: 2px;
        &.short {
          width: 15px;
          align-self: flex-start;
        }
      }
    }
    & .logo {
      cursor: pointer;
      & .nav-bar-logo {
        width: 30px;
        vertical-align: middle;
      }
      & span {
        vertical-align: middle;
        font-weight: bolder;
        font-size: 1.3rem;
        margin-left: 10px;
        color: var(--dark-black);
        font-family: "Sora", sans-serif;
      }
    }
    & ul.links {
      display: flex;
      gap: 40px;
      & li {
        cursor: pointer;
        font-size: 1.1rem;
        color: var(--main-font-color);
        position: relative;
        & .shoping-cart {
          font-size: 22px;
        }
        .product-quantity {
          background-color: red;
          color: white;
          position: absolute;
          width: 20px;
          height: 20px;
          font-size: 1.2rem;
          display: flex;
          justify-content: center;
          align-items: center;
          border-radius: 50%;
          top: -12px;
          right: -10px;
        }
        & a {
          color: var(--main-font-color);
        }
      }
    }
    .login-button {
      padding: 7px 20px;
      border: 1px solid rgb(219, 219, 219);
      background-color: transparent;
      border-radius: 5px;
      cursor: pointer;
      font-size: 1rem;
      .login-icon {
        vertical-align: middle;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  nav.nav-bar {
    padding: 0;
    & .in-nav-bar {
      gap: 0;
      & .logo {
        & span {
          font-size: 0.9rem;
        }
        & .nav-bar-logo {
          width: 25px;
        }
      }

      & ul.links {
        & li {
          font-size: 0.9rem;
          & .shoping-cart {
            font-size: 1rem;
          }
        }
      }
      .login-button {
        padding: 6px 15px;
        font-size: 0.9rem;
      }
    }
  }
}

@media screen and (max-width: 770px) {
  nav.nav-bar {
    .in-nav-bar {
      padding: 5px 0;
      .navbar-responsive-icon {
        display: flex;
      }
      &.open {
        height: 100vh;

        position: fixed;
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        top: 0;
        left: 0;
        background-color: rgb(245, 243, 243);
        right: 0;
        .navbar-responsive-icon {
          position: absolute;
          align-self: flex-end;
          top: 40px;
          right: 40px;
        }
        & .logo {
          order: 5;
          & .nav-bar-logo {
            width: 100px;
          }
          & span {
            font-size: 1.7rem;
          }
        }
        & ul.links {
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: space-between;
          z-index: 5;
          & li {
            font-size: 1.1rem;
            &.shoping-cart-icon {
              position: absolute;
              top: 40px;
              left: 40px;
              & .shoping-cart {
                font-size: 25px;
              }
            }
          }
        }
        & .login-button {
          display: none;
        }
      }
      & ul.links {
        display: none;
      }
      .login-button {
        & span {
          display: none;
        }
      }
    }
  }
}
