@import "src/styles/variables.css";
.main-button {
  width: 100%;
  height: 40px;
  background-color: var(--button-colors);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}
